<?xml version="1.0" encoding="UTF-8"?>
<extension>
  <information>
    <name>KindleChess</name>
    <version>0.1.0</version>
    <author>Nick Garske / ChatGPT</author>
    <id>org.garske.kindlechess</id>
  </information>
  <menus>
    <menu type="json" dynamic="true">menu.json</menu>
  </menus>
</extension>
